*.x86_64
*.so
*.debug

build
lcm-types/java
lcm-types/cpp/*
lcm-types/csharp/*
lcm-types/lcmtypes/*
lcm-types/python/*
lcm_data/lcm_log
lcm_data/matlab_log
lcm_data/matlab_log_archive
lcm-types/file_list.txt


#Logs
tags

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
#*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds


# Unity generated 
Temp/
Obj/
UnityGenerated/
Library/

# monodevelop/visual studio generated
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

